.imgSearchDesktop {
    background-image: url('../IMG/ItemsPage/ImgSearch.jpg');
    background-repeat: repeat-y;
    background-position: center;
    filter: contrast(1);
}

.imgSearchMobile {
    height: 20vh;
    background-image: url('../IMG/ItemsPage/ImgSearch.jpg');
    background-size: cover;
    background-position: center;
    filter: contrast(1);
}