/* Definición de la paleta de colores en Hexadecimal */
:root {
   --azul: #0516ff;
   --gris: #bcbcbc;
   --blanco: #ffffff;
   --rojo: #ff5c5c;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 16px;
}

/* 1rem = 10px */

.navegacionPrincipal {
   background-color: var(--azul);
   font-size: 2rem;
   margin-bottom: 5rem;
}

.halibriTitulo {
   font-size: 3rem;
}

.derechosReservados {
   background-color: var(--azul);
   text-align: center;
   margin: 5rem auto 0rem auto;
   padding: 1rem;
   font-size: 1.5rem;
}

article h2 {
   margin: 1.5rem;
}

article div input {
   margin: 1rem;
   padding: 0rem 6rem;
   background-color: var(--azul);
   color: var(--blanco);
   border: 0rem;
   font-size: 2rem;
}

article div input:hover {
   background-color: var(--gris);
   color: var(--azul);
}

article img {
   height: 25rem;
}