/* Definición de la paleta de colores en Hexadecimal */
:root {
   --azul: #0516ff;
   --gris: #bcbcbc;
   --blanco: #ffffff;
   --rojo: #ff5c5c;
   --libro: #F5F5DC;
}

/* 1rem = 10px */

html {
   font-size: 62.5%;
}

body {
   font-size: 16px;
}

/* Barra de navegación */

.navegacionPrincipal {
   background-color: var(--azul);
   font-size: 2rem;
   margin-bottom: 1rem;
}

.navegacionPrincipalLibro {
   background-color: var(--azul);
   font-size: 2rem;
}

.halibriTitulo {
   font-size: 3rem;
}

/* Derechos Reservados en el footer */

.derechosReservados {
   background-color: var(--azul);
   text-align: center;
   margin: 1rem auto 0rem auto;
   padding: 1rem;
   font-size: 1.5rem;
}

/* Contenedor de un libro en la página principal */

.libroCard h2 {
   margin: 2rem;
   font-size: 3rem;
   font-weight: bold;
   background-color: var(--libro);
   padding: 1rem 0rem;
   border-radius: 2rem;
}

.libroCard div input {
   margin: 1rem;
   padding: 0rem 3rem;
   background-color: var(--azul);
   color: var(--blanco);
   border: 0rem;
   font-size: 2rem;
   border-radius: 2rem;
}

.libroCard div input:hover {
   background-color: var(--gris);
   color: var(--azul);
}

.libroCard img {
   height:50rem;
   width: 35rem;
   border-radius: 2rem;
}

/* Iniciar Sesión */
.IniciarSesion {

}

.IniciarSesionCrearCuenta form fieldset legend {
   font-size: 3rem;
   text-align: center;
   font-weight: bold;
}

.IniciarSesionCrearCuenta .boton {
   text-align: center;
}

.IniciarSesionCrearCuenta .boton input:hover{
   background-color: var(--gris);
   color: var(--azul);
}

.IniciarSesionCrearCuenta .boton a:hover{
   background-color: var(--gris);
   color: var(--azul);
}

.IniciarSesionCrearCuenta .boton [type="submit"] {
   margin: 1rem;
   padding: 0rem 3rem;
   background-color: var(--azul);
   color: var(--blanco);
   border: 0rem;
   font-size: 2rem;
   border-radius: 1rem;
}

.IniciarSesionCrearCuenta .boton a {
   text-decoration: none;
   margin: 1rem;
   padding: 0.1rem 3rem;
   background-color: var(--azul);
   color: var(--blanco);
   border: 0rem;
   font-size: 2rem;
   border-radius: 1rem;
}

.IniciarSesionCrearCuenta .labelArriba {
   display: flex;
   flex-direction: column;
   margin: 1rem 10rem;
   font-size: 2rem;
}

.IniciarSesionCrearCuenta .labelArriba input{
   border-radius: 1rem;
   border-width: 0.1rem;
   border-color: var(--gris);
}

.flecha {
   display: inline-block;
   background-color: var(--azul);
   font-size: 5rem;
   padding: 0.1rem 2rem;
   margin: 0rem 2rem;
   color: var(--blanco);
   border-radius: 2rem;
}

.flecha:hover {
   background-color: var(--gris);
   color: var(--azul);
}

.flechas {
   text-align: center;
}

/* Página de Lectura */

.leerLibro {
   padding: 0rem;
   margin: 5rem 1rem;
   background-color: var(--libro);
   border-radius: 1rem;
}

.controlDeCarrusel .carousel-control-prev-icon,
.controlDeCarrusel .carousel-control-next-icon {
   background-color: var(--gris);
   padding: 2rem;
   border-radius: 1.5rem;
}

.controlDeCarrusel:hover .carousel-control-prev-icon,
.controlDeCarrusel:hover .carousel-control-next-icon {
   background-color: var(--azul);
   padding: 2.5.rem;

}