body {
    margin: 0;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    height: 100%;
    width: 100%;
    min-height: 800px;
}

#navigation {
    width: 300px;
    position: absolute;
    overflow: auto;
    top: 60px;
    left: 10px;
}

#viewer.spreads {
    width: 900px;
    height: 600px;
    margin: 10px auto;
    background: white;
}

#pagination {
    text-align: center;
}

.arrow {
    font-size: 64px;
    color: #E2E2E2;
    cursor: pointer;
}

#highlights {
    list-style: none;
    padding: 0;
    margin: 20px auto;
}

#highlights li {
    margin-bottom: 20px;
    border-top: 1px solid #E2E2E2;
    padding: 10px;
}